/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* FONTS - Proxima Nova */
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url(../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Bold.otf);
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url(../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Regular.otf);
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url(../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Semibold.otf);
}


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.8;
}

body {
    font-family: 'Proxima Nova Bold';
}

.section {
    margin: auto;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

/* hero container styling */
#hero-container {
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 7rem;
    background-color: #55423d;
}

.logo-container {
    text-align: left;
}

.logo-container img {
    width: 13rem;
    height: 2rem;
    margin-bottom: 0;
}

.menu-container ul {
    list-style: none;
    text-align: right;
}

.menu-container ul li {
    display: inline;
    margin-left: 0.7rem;
}

.menu-container ul li a {
    font-size: 1.22rem;
    text-decoration: none;
    letter-spacing: -0.1px;
    color: #ffffff;
}

.hero-info-container {
    margin-top: 4.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hero-info-container .left {
    width: 40%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.hero-info-container .left a {
    margin-top: 2.5rem;
    float: left;
}

.hero-info-container .right {
    width: 60%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: right;
    margin-bottom: 0;
}

.hero-info-container .right img {
    width: 92%;
    height: auto;
    max-width: 550px;
}


/* Section hues styling */
#section-hues {
    margin-top: 6rem;
}

.sub-title {
    color: #fff3ec;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-family: 'Proxima Nova Regular';
}

.hues-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.hues-button {
    border: 3px solid #000;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 32.5%;
    margin-right: 0.8%;
    margin-bottom: 0.5rem;
    padding: 0.75rem 0.5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1rem;
    text-decoration: none;
    background: transparent;
    color: #fffffe;
    font-family: 'Proxima Nova Semibold';
}

.hues-button:hover {
    background: #ffc0ad;
    color: #271c19;
}

.hues-button .hues {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hues-button .circle {
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
    border-style: solid;
    border: 3px solid #140d0b;
    display: inline-block;
    border-radius: 15px;
}

.hues-button .hues-title {
    font-size: 0.9rem;
    line-height: 1.3;
}

/* color terminology container */
#color-terminology {
    background-color: #271c19;
}

.color-term-header {
    max-width: 600px;
    margin: 0 auto 5rem auto;
    text-align: center;
}

.color-term-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.card-item {
    background: #55423d;
    padding: 2.5rem;
    border-radius: 3px;
    width: 48.5%;
    margin-bottom: 35px;
}

.card-header {
    width: 100%;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
}

.card-header img {
    height: 67px;
    width: 67px;
    margin-right: 1rem;
}

.card-header h3 {
    display: inline;
}

.card-item p {
    font-size: 1.2rem;
}

/* color psychology */
#color-psychology {
    background-color: #55423d;
}

#color-psychology .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 6rem;
    margin-right: 7%;
    width: 80%;
}

.color-card {
    background: #ffc0ad;
    margin-bottom: 2rem;
    padding: 2.5rem;
    border-radius: 3px;
}

.color-card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
}

.color-card-header h3 {
    font-size: 2rem;
    color: #271c19;
    margin: 0;
    line-height: 30px;
}

.color-card p {
    font-size: 1.1rem;
    color: #271c19;
    line-height: 1.7;
}

.tag {
    background-color: #fffffe;
    color: #271c19;
    display: inline-block;
    margin-right: 0.4rem;
    margin-bottom: 0.6rem;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
}

.section-hues {
    margin-top: 6rem;
}

/* bio */
#bio {
    background-color: #ffc0ad;
}

.bio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 4rem;
}

.bio-container h2,
.bio-container p {
    color: #1b1425;
}

.bio-container p {
    font-size: 1.2rem;
}

.bio-container .left .top {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}


.bio-container .left {
    width: 43%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.bio-container .left a {
    color: #9656a1;
    font-size: 1.2rem;
    font-family: 'Proxima Nova Bold';
}

.bio-container .right {
    width: 45%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: right;
    margin-bottom: 0;
}

.bio-container .right img {
    width: 100%;
    height: auto;
    max-width: 550px;
    margin-bottom: 2rem;
}

#bio h3 {
    font-size: 1.5rem;
    color: #271c19;
    margin-bottom: 1.5rem;
}

.project-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 4.5rem;
}

.project-card {
    width: 32%;
    padding: 2rem;
    border-radius: 3px;
    background-color: #fffffe;
    display: inline-block;
}

.project-card:hover {
    -webkit-box-shadow: 0 5px 15px -10px #000;
            box-shadow: 0 5px 15px -10px #000;
    -webkit-transform: translate(0px, -4px);
        -ms-transform: translate(0px, -4px);
            transform: translate(0px, -4px);
    transition: transform 200ms cubic-bezier(.561, -.163, .246, 1.27), -webkit-transform 200ms cubic-bezier(.561, -.163, .246, 1.27);
}

.project-card h4,
.project-card p {
    color: #271c19;
}

.project-card h4 {
    font-size: 1.4rem;
}

.project-card p {
    font-size: 1.1rem;
}

.input-wrap {
    width: 38.5%;
}

.input-wrap label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

.input-wrap input {
    width: 100%;
    background-color: #fffffe;
    border: 1px solid #fffffe;
    margin-bottom: 0px;
    padding: 8px 20px;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Proxima Nova Bold';
    color: #271c19;
    height: 4rem;
    outline: none;
}



.input-wrap input::-webkit-input-placeholder {
    color: #271c19;
}



.input-wrap input::-moz-placeholder {
    color: #271c19;
}



.input-wrap input:-ms-input-placeholder {
    color: #271c19;
}



.input-wrap input::-ms-input-placeholder {
    color: #271c19;
}



.input-wrap input::placeholder {
    color: #271c19;
}

.form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.form-container .btn-submit {
    display: block;
    height: 4rem;
    width: 20%;
    background-color: #9656a1;
    color: #fffffe;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}

#bio #section-hues h3 {
    color: #271c19;
    margin: 0px;
    font-size: 2rem;
    line-height: 30px;
}

#bio #section-hues p {
    color: #271c19;
}

#bio .hues-title,
#bio .hexcode,
#bio h4 {
    color: #271c19;
}

.c-background {
    background: #ffc0ad;
}

.c-headline {
    background: #232946;
}

/* Footer */

#footer {
    height: 100%;
    background-color: #55423d;
}

#footer img {
    width: 13rem;
    height: 2rem;
}

#footer .footer-main {
    width: 40%;
}

#footer .footer-main p {
    margin-top: 2rem;
    margin-bottom: 0px;
    font-size: 1.1rem;
}

#footer .social-links {
    width: 20%;
}

#footer .social-links h3 {
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 1.5rem;
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.social-links ul {
    list-style: none;
}

.social-links ul li {
    margin-bottom: 0.5rem;
}

.social-links ul li a {
    font-size: 1.3rem;
    text-decoration: none;
    font-family: 'Proxima Nova Regular';
    color: #fff3ec;
}

.right-reserved p {
    margin-top: 4rem;
    font-size: 1rem;
    color: #fff3ec;
}


/* color hues */

.brown {
    background-color: #55423d;
}

.white {
    background-color: #fffffe;
}

.white-smoke {
    background-color: #fff3ec;
}

.salmon {
    background-color: #ffc0ad;
}

.black {
    background-color: #271c19;
}

.darker-salmon {
    background-color: #140d0b;
}

.pink {
    background-color: #e78fb3;
}

.purple {
    background-color: #9656a1;
}